
<div class="container card">
  <h5 class="card-title">Informations générales</h5>
  <form action="" #paimentForm="ngForm" (ngSubmit)="save(paimentForm)">
    <div class="form-group">
      <label for="nom">Nom</label>
      <input class="form-control" type="text" name="nom" id="nom" required ngModel #nom="ngModel">
      <span style="color: #ADD8E6;" *ngIf="nom.invalid && nom.touched && nom.errors?.['required']">Nom is required</span>

    </div><br>

    <div class="form-group">
      <label for="email">Email</label>
      <input class="form-control" type="email" name="email" id="email" required ngModel #email="ngModel" pattern="[a-z.]+[a-z]+@+[a-z]{3}">
      <span style="color: #ADD8E6;" *ngIf="email.invalid && email.touched && email.errors?.['required']">Email is required</span>
      <span style="color: #ADD8E6;" *ngIf="email.errors?.['pattern']">Email Format invalid</span>
    </div><br>
    <div class="card">

      <h5 class="card-title">Informations de payment</h5>

      <div class="form-group">
        <label for="typeCarte">Type de carte</label>
        <input class="form-control" type="text" name="typeCarte" id="typeCarte" required ngModel #typeCarte="ngModel">
        <span style="color: #ADD8E6;" *ngIf="typeCarte.invalid && typeCarte.touched && typeCarte.errors?.['required']">typeCarte is required</span>

      </div><br>
      <div class="form-group">
        <label for="NumCarte">Numéro carte</label>
        <input class="form-control" type="text" name="NumCarte" id="NumCarte" required ngModel #NumCarte="ngModel">
        <span style="color: #ADD8E6;" *ngIf="NumCarte.invalid && NumCarte.touched && NumCarte.errors?.['required']">Numéro carte is required</span>

      </div><br>
      <div class="form-group">
        <label for="DateExp">Date Expiration</label>
        <input class="form-control" type="text" name="DateExp" id="DateExp" required ngModel #DateExp="ngModel">
        <span style="color: #ADD8E6;" *ngIf="DateExp.invalid && DateExp.touched && DateExp.errors?.['required']">Date Expiration is required</span>

      </div><br>


      <div class="form-group">
        <label for="code">Code</label>
        <!---->

        <input class="form-control" [disabled]="!typeCarte.valid || !NumCarte.valid || !DateExp.valid" type="text" minlength="16" name="code" id="code" required ngModel #code="ngModel">

        <span style="color: #ADD8E6;" *ngIf="code.invalid && code.touched && code.errors?.['required']">Code is required</span>
        <span style="color: #ADD8E6;" *ngIf="code.invalid && code.touched && code.errors?.['minlength']">Minimum 16 chiffres</span>
      </div><br>

    </div><br>
    <div class="form-group ">
      <div class="d-flex justify-content-center">
        <input [disabled]="!paimentForm.valid" class="form-control " type="submit" value="Ajouter" class="btn btn-primary">
      </div>
    </div>
  </form>

</div>
